php_errorlog
wp-admin/php_errorlog

wp-content/debug.log

.env

/vendor/
.phpunit.result.cache

public/wp

public/wp-content/uploads
public/wp-content/cache

public/wp-content/plugins/*
!public/wp-content/plugins/wp-antyki-olx
!public/wp-content/plugins/wp-graphql-acf
!public/wp-content/plugins/wp-sync-db
!public/wp-content/plugins/wp-sync-db-media-files


debug.log
