<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="wp-content/plugins/wp-antyki-olx">
      <directory suffix="Test.php">wp-content/plugins/wp-antyki-olx/test/Container</directory>
    </testsuite>
  </testsuites>

  <php>
    <const name="OLX_API_URL" value="https://www.olx.pl/" />
  </php>
</phpunit>
