/* ==========================================================================
   Header
   ========================================================================== */
.c-header {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: $s * 2 0;
}

.c-header__nav {
    height: $m-header-menu-height;

    position: fixed;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    background-color: color(white);

    @include anim-default;

    z-index: 900;

    &.is-active {
        left: 0;

        @include anim-default;
    }
    @include media(desktop) {
        width: auto;
        height: $d-header-menu-height;

        position: absolute;
        left: 0;
        top: 35%;

        background: transparent;

        opacity: 0;
    }
}

.c-header__nav-close {
    position: absolute;
    right: $s * 3;
    top: $s * 3;

    padding: $s * 1.25;

    @include media(desktop) {
        display: none;
    }
}

.c-header__menu {
    width: 100%;
    height: 100%;

    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media(desktop) {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.c-header__menu-item {
    margin-bottom: $s * 4;

    a {
        line-height: $d-header-menu-height;
        font-size: font-size(h3);
        border-radius: 25px;

        padding: $s * 1.25 $s * 2;
    }
    &.is-active {
        a {
            background-color: color(light);
        }
    }
    &:hover {
        a {
            background-color: color(lgrey);
        }
    }
    @include media(desktop) {
        margin-right: $s;
        margin-bottom: 0;

        a {
            line-height: $d-header-menu-height;
            font-size: font-size(h4);

            &:hover {
                a {
                    background-color: color(lgrey);
                }
            }
        }
    }
}

.c-header__logo {
    justify-self: center;

    margin: 0;
    padding: 0;

    height: #{$m-header-height - $s * 6};
    width: auto;

    @include anim-default;

    img {
        height: #{$m-header-height - $s * 6};
        width: auto;

        @include anim-default;
    }
    &:hover {
        transform: scale(1.05);
    }
    @include media(desktop) {
        height: #{$d-header-height - $s * 4};

        img {
            height: #{$d-header-height - $s * 4};
        }
    }
}

.c-header__search {
    position: absolute;
    right: 0;

    outline: none;

    border: none;
    background: transparent;

    cursor: pointer;

    border-radius: 25px;

    &:hover {
        background-color: color(lgrey);
    }
}

.c-header__toggle {
    position: absolute;
    left: 0;

    outline: none;

    border: none;
    background: transparent;

    cursor: pointer;

    @include media(desktop) {
        display: none;
    }
}

.c-header__search,
.c-header__toggle {
    padding: $s * 1.25;
    cursor: pointer;

    opacity: 0;

    @include anim-default;
}

.is-scrolled,
.l-header:hover {

    .c-header__logo {
        height: #{$m-header-height-scrolled - $s * 4};

        img {
            height: #{$m-header-height-scrolled - $s * 4};
        }
    }
    .c-header__search,
    .c-header__toggle {
        opacity: 1;

        @include anim-default;
    }
    @include media(desktop) {
        .c-header__logo {
            height: #{$d-header-height-scrolled - $s * 4};

            img {
                height: #{$d-header-height-scrolled - $s * 4};
            }
        }
        .c-header__nav {
            opacity: 1;
        }
    }
}
