/* ==========================================================================
   Icon icons
   ========================================================================== */
.c-icon {
    font-size: 1em;

    fill: currentColor;

    @include anim-default;

    &--search {
        font-size: 2em;

        @include media(desktop) {
            font-size: 2em;
        }
    }
    &--burger {
        font-size: 2em;

        @include media(desktop) {
            font-size: 2em;
        }
    }
    &--close {
        font-size: 2em;

        @include media(desktop) {
            font-size: 2em;
        }
    }
    &--arrow {
        font-size: 1em;

        @include media(desktop) {
            font-size: 2em;
        }
    }
}
