/* ==========================================================================
   Main grid filters
   ========================================================================== */
.c-main-grid-filters {

    &__list {
        list-style: none;

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        li {
            width: 100%;

            @include media(desktop) {
                width: 25%;
            }
        }
    }
    .c-form-row {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: $s * 3 auto;

        & > input {
            width: 25%;

            padding: $s;

            text-align: right;

            border: 1px solid color(golden);
            color: color(golden);
        }
        & > p {
            margin: $s;
        }
    }
}
