/* ==========================================================================
    Range sliders double range sliders
   ========================================================================== */
.c-range-slider {
    width: 90%;
    height: $s;

    margin-top: $s * 4;
    margin-bottom: $s * 2;
    margin-left: 2%;
    margin-right: 2%;

    .noUi {

        &-target {
            box-shadow: none;
            border-radius: 0;
            border: 0;

            height: $s;
        }
        &-base {
            border-radius: 0;
            border: none;
            box-shadow: none;
        }
        &-connect {
            background-color: color(golden);

            height: $s;
        }
        &-handle {
            right: 0;

            width: $s * .65;
            height: $s * 2;

            background-color: color(golden);

            border-radius: 0;
            box-shadow: none;
            border: none;

            // border: 1px solid color(golden);

            &::before,
            &::after {
                display: none;
            }
        }
        &-tooltip {
            border: none;

            background-color: transparent;
            color: color(golden);
            border: 1px solid color(golden);

            font-size: 1rem;

            padding: $s / 4 $s / 2;
        }
    }
}
