/* ==========================================================================
   Related posts
   ========================================================================== */
.c-related-posts {
    margin: 0;
    padding: 0;
    margin-bottom: $s * 2;

    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

    @include media(desktop) {
        margin-bottom: $s * 6;

        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }
}
