/* ==========================================================================
   Related post
   ========================================================================== */
.c-related-post {
    width: calc((100% / 3) - #{$s});

    @include shadow-default;
}

.c-related-post__img {
    padding: 0;
    margin: 0;

    width: 100%;
    height: $related-product-thumb-height-m;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $img-background-gradient;

    &--landscape {

        img {
            width: 100%;
            height: auto;

            object-fit: contain;
        }
    }
    &--portrait {

        img {
            height: $related-product-thumb-height-m;
            width: auto;

            object-fit: contain;
        }
    }

    @include media(desktop) {
        height: $related-product-thumb-height-d;

        &--portrait {

            img {
                height: $related-product-thumb-height-d;
            }
        }
    }
}

.c-related-post__title {
    margin: 0;
    padding: $s;

    @include media(desktop) {
        padding: $s * 2 $s * 2 $s * 4;

        font-size: font-size(h35);
        line-height: 1.5em;
    }
}
