/* ==========================================================================
   Search form
   ========================================================================== */
.c-search-form {
    display: flex;
    flex-direction: column;

    width: 80%;

    font-size: font-size(h4);
}

.c-search-form__group {
    display: flex;
    flex-direction: column;

    margin-bottom: $s;
}

.c-search-form__label {
    margin-bottom: $s * 4;

    font-size: font-size(h2);
}

.c-search-form__input {
    background-color: color(light);

    margin-bottom: $s * 4;

    font-size: font-size(h3);
}

.c-search-form__input,
.c-search-form__submit {
    border: none;
    border-radius: $border-radius-default;

    padding: $s;
    height: 3rem;
}
