/* ==========================================================================
   Main grid card
   ========================================================================== */
.c-card {
    width: calc((100% / 2) - #{$s});
    height: auto;

    margin-bottom: $s * 2;

    transition: $transition-default;

    @include shadow-default;

    margin-left: $s * 2;
    &:nth-child(2n+1) {
        margin-left: 0;
    }

    @include media(desktop) {
        width: calc((100% / 3) - #{$s});

        margin-left: $s;
        &:nth-child(2n+1) {
            margin-left: $s;
        }
        &:nth-child(3n+1) {
            margin-left: 0;
        }
    }

    &:hover {
        transition: $transition-default;

        @include shadow-small;
    }
}

.c-card__inside {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.c-card__body {
    padding: $s;

    display: flex;
    flex-direction: column;
}

.c-card__title {
    padding: $s / 2 0;
    margin: 0;
    margin-bottom: $s;

    font-size: font-size(h4);

    @include media(tablet) {
        font-size: font-size(h3);
    }
}

.c-card__categories {
    margin: 0 0 $s;

    font-size: font-size(h5);

    @include media(tablet) {
        font-size: font-size(h4);
    }
}
