/* ==========================================================================
   Main grid card
   ========================================================================== */
.c-card {
    width: 100%;
    height: auto;

    img {
        max-width: 100px;
        height: auto;
    }
}
