/* ==========================================================================
   Header
   ========================================================================== */
.c-header {
    height: 80px;
    background-color: white;

    .menu-item {
        padding-left: 20px;
    }
}
