/* ==========================================================================
   Icon icons
   ========================================================================== */
.c-icon {
    font-size: 1em;

    fill: currentColor;
    &--search {
        font-size: 2em;
    }
}
