/* ==========================================================================
   Icon icons
   ========================================================================== */
.c-icon {
    font-size: 1em;

    fill: currentColor;

    transition: all .3s;

    &--search {
        font-size: 2em;

        @include media(desktop) {
            font-size: 2em;
        }
    }
    &--burger {
        font-size: 2em;

        @include media(desktop) {
            font-size: 2em;
        }
    }
    &--close {
        font-size: 2em;

        @include media(desktop) {
            font-size: 2em;
        }
    }
}

.l-header.is-scrolled {
    .c-icon {
        transition: all .3s;

        &--search {
            font-size: 1.5em;

            @include media(desktop) {
                font-size: 2em;
            }
        }
        &--burger {
            font-size: 1.5em;

            @include media(desktop) {
                font-size: 2em;
            }
        }
    }
}
