/* ==========================================================================
   Section title
   ========================================================================== */
.c-section-title {
    margin: 0;
    padding: $s * 1.5 0;
}

.c-accordion .c-section-title {
    padding: $s * 1.5 $s;
}
