.c-single-carousel {
    width: 100%;
    height: auto;

    .carousel-item {
        height: 450px;
        width: 100%;

        text-align: center;

        & > button {
            border: none;
            background: transparent;

            img {
                height: 450px;
                width: auto;

                object-fit: contain;
            }
        }
    }
}
