/* ==========================================================================
   Header
   ========================================================================== */
.l-header {
    width: 100%;
    height: $m-header-height-scrolled;

    position: fixed;
    top: 0;
    left: 0;

    background-color: color(white);

    z-index: 500;

    transition: $transition-default;

    &.is-scrolled {
        @include shadow-default;
    }

    @include media(desktop) {
        height: $d-header-height-scrolled;
    }
}
