/* ==========================================================================
   Main content
   ========================================================================== */
* {
    box-sizing: border-box;
}

.l-main {
    margin-top: $m-header-height-scrolled;

    @include media(desktop) {
        margin-top: $d-header-height-scrolled;
    }
}
