/* ==========================================================================
   Search modal
   ========================================================================== */
.l-search-modal {
    position: fixed;
    top: 0;
    right: -100%;

    width: 100%;
    height: 100%;

    background-color: color(white);

    z-index: 600;

    transition: all .3s;

    .l-inner {
        height: 100%;
    }
    &.is-active {
        right: 0;

        transition: all .3s;
    }
}
