/* ==========================================================================
   Typography
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans&display=swap');

/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: font-size(main);
}

body {
    font-family: font(main);
    color: color(main);

    line-height: default(line-height);
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;

    &:hover {
        text-decoration: underline;
    }
}

.t-h1 {
    font-size: font-size(h3);

    @include media(tablet) {
        font-size: font-size(h1);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: font(serif);
    font-weight: 400;
}
