/* ==========================================================================
   Variables
   ========================================================================== */

/* Maps
========================================================================== */
/*
    The names and values of variables in maps are just suggestions/random values.
    Feel free to add new values, modify both the values and/or keys of the items depending on the project and your prefferences.
    For each map, a functions is defined (in base/_functions.scss).
    By default, function names are single a singular form of the map's variable name.
    Eg. To use the "main" color, a getter function "color" is defined.
    To use it, simply call: color(main).
*/

$breakpoints: (
    mobile: 768px,
    tablet: 1025px,
    desktop: 1400px,
);

$orientations: (
    portrait: portrait,
    landscape: landscape,
);

$colors: (
    main: #000,
    white: #fff,
    light: #fafafa,
    lgrey: #ededed,
    accent: #d4213d,
    blue: #09a6e4,
    grey: #aaaaaa,
);

$sizes: (
    media: 400px,
    inner: (
        wide: 1360px,
        desktop: 1180px,
        tablet: 760px,
        mobile: 320px,
        narrow: 800px,
    ),
);

// Set main font size to body (eg. 12px), then refer to it using rem, eg. secondary: 2rem -> 24px
$font-sizes: (
    main: 14px,
    h1: 3rem,
    h2: 2rem,
    h3: 1.75rem,
    h35: 1.55rem,
    h4: 1.25rem,
    h5: 1.1rem,
    small: 0.8rem,
    quote: 9px,
);

$offsets: (
    default: 16px,
    large: 24px,
    small: 8px,
);

$s: 10px;

$fonts: (
    main: #{"IBM Plex Sans",
    "Arial",
    sans-serif},
);

$defaults: (
    border-radius: 4px,
    line-height: 1.2,
);

/* Standalone variables
========================================================================== */
$white-space: 1em;
$form-control-height: 2rem;

$border-radius-default: 5px;

$transition-default: all 0.3s;

$m-header-height: 160px;
$m-header-height-scrolled: 90px;
$m-header-menu-height: auto;

$d-header-height: 200px;
$d-header-height-scrolled: 120px;
$d-header-menu-height: 40px;

$card-gallery-height-m: 180px;
$card-gallery-height-d: 320px;

$product-gallery-height-m: 400px;
$product-gallery-height-d: 600px;

$related-product-thumb-height-m: 180px;
$related-product-thumb-height-d: 280px;

$img-background-gradient: linear-gradient(
    135deg,
    rgba(202, 210, 223, 0.3) 0%,
    rgba(178, 166, 152, 0.3) 100%
);
