<section class="l-image-modal js-image-modal">
    <div class="l-inner">
        <div class="c-image-modal">
            <button class="c-image-modal__close js-close-image-modal">
                <svg class="ui-icon c-icon c-icon--close">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ assetUrl }}/symbol/svg/sprite.symbol.svg#close"></use>
                </svg>
            </button>
            <figure class="c-image-modal__img js-image">
                <img />
            </figure>
        </div>
    </div>
</section>
